<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="card.css">
</head>
<body>
    <div class="container">
        <div style="width: 45%; display: flex; flex-direction: column; justify-content: space-between">
            <div class="img1">

            </div>
            <div class="img2">

            </div>
        </div>
        <div style="width: 55%; display: flex; flex-direction: column; justify-content: space-between">
            <div style="text-align: center">
                <p>{{ name }}</p>
                <p>{{ article }}</p>
                <p>{{ size }}</p>
                <p>{{ price }}</p>
                <p>{{ card_price }}</p>
            </div>
            <div class="img3">

            </div>
<!--            <img src="https://cdn1.ozone.ru/s3/multimedia-a/6685787134.jpg" alt="" width="100%">-->
        </div>
    </div>
</body>
</html>