<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="inst_title_card_single_photo.css">
</head>
<body style="margin: 0;">
    <div class="container">
        <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;
        position: relative; padding: 14% 0;
        ">

            <div style="height: 14%; font-size: 30px;  background-color: white;
    align-items: center; padding: 0 15%;
    justify-content: center; display: flex">
<!--                background-color: rgb{{ color1 }}-->
                <p style="font-size: 80px; color: rgb{{ color2 }}; ;
                font-weight: bold; font-family: 'Roboto-Regular'; padding: 1% 2%;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0; text-align: center">{{ category }}</p>
            </div>

            <div style="padding: 0 15%; height: 100%">
                <div class="img">

                </div>
            </div>

<!--            background-color: rgb{{ color1 }}-->
            <div class="inf-text" style="text-align: center; background-color: white; padding: 0 15%">
                <div style="margin-right: 2%">
                     <p> ПОДБОРКА</p>
                </div>
                <div>
                     <p>OZON </p>
                </div>
            </div>
<!--                        <img src="./logo.png" alt="" style="opacity: 0.1;-->
<!--    /*z-index: -1;*/-->
<!--    /* height: 100%; */-->
<!--    width: 15%;-->
<!--    position: absolute;-->
<!--    bottom: 0;-->
<!--    right: 0;">-->
        </div>
    </div>
</body>
</html>