<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="single_card.css">
</head>
<body style="margin: 0;">
    <div class="container">
        <div style="    height: 100%;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    display: flex;">
            <div class="img1">
            </div>
        </div>
         <div class="inf-text">
             <div style="height: 30%">
                <p style="font-size: 30px; padding: 2%; background-color: rgb{{ color }}">{{ name }}</p>
                <p>Арт.: <span>{{ article }}</span></p>
                <p>Размеры: <span>{{ size }}</span></p>
                <p class="rub">Цена: <span>{{ price }}</span></p>
                <p>Цена по карте OZON: <span>{{ ozon_card_price }}</span></p>
             </div>
         </div>
    </div>
</body>
</html>