<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="single_title_card_blur.css">
</head>
<body style="margin: 0">
    <div class="container">
        <div class="container1">
            <div style="height: 100%; align-items: center; justify-content: right; width: 100%; display: flex;">
                <div class="img1">
                </div>
            </div>
              <div class="inf-text" style="position: absolute; bottom: 20%; left: 10%">
                    <p>НАХОДКИ</p>
                    <p>OZON</p>
                    <p style="font-style: italic;  -webkit-text-stroke: 2px rgb{{ color }}; color: white">
                        {{ category }}</p>
                </div>
        </div>
    </div>
</body>
</html>