<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="single_card.css">
</head>
<body style="margin: 0;">
    <div class="container">
        <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;
        position: relative;
        ">
            <div style="height: 15%; font-size: 30px;  background-color: white;
    align-items: center; padding: 0 15%;
    justify-content: center; display: flex">
                <p style="font-size: 80px; color: rgb{{ color2 }}; font-weight: bold;
    text-transform: uppercase; text-align: center;
    letter-spacing: 10px;
    margin: 0;">{{ name }}</p>
            </div>
         <div style="padding: 0 15%; height: 100%">
                <div class="img">

                </div>
            </div>
<!--            background-color: rgb{{ color1 }}-->
<!--            <div class="inf-text" style="text-align: center; background-color: white; padding: 0 15%">-->
<!--                <div style="margin-right: 2%">-->
<!--                     <p>Арт.: <span> {{ article }} </span></p>-->
<!--                </div>-->
<!--                <div>-->
<!--                     <p>Цена: <span> {{ price }} </span></p>-->
<!--                </div>-->
<!--            </div>-->
<!--                        <img src="./logo.png" alt="" style="opacity: 0.1;-->
<!--    /*z-index: -1;*/-->
<!--    /* height: 100%; */-->
<!--    width: 15%;-->
<!--    position: absolute;-->
<!--    bottom: 0;-->
<!--    right: 0;">-->
        </div>
    </div>
</body>
</html>